@use "./asset";


// -------------------------------------------------------------
// project 設定
// -------------------------------------------------------------
.secret {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
}


// -------------------------------------------------------------
// desktop

@include asset.desktop {
  .secret {
    position: relative;
    padding-top: asset.desktop-min(80);
    padding-bottom: asset.desktop-min(297);
    &::after {
      height: asset.desktop-min(116);
      background-image: url("../img/secret_bg_dt.webp");
    }
    .secret__title {
      width: asset.desktop-min(294);
      margin-left: auto;
      margin-right: auto;
    }
    .secret__obj1 {
      top: asset.desktop-max(-264);
      width: asset.desktop-min(239);
    }
  
    .secret__obj2 {
      top: asset.desktop-max(-140);
      width: asset.desktop-min(206);
    }
  
    .secret__obj3 {
      top: asset.desktop-min(202);
      width: asset.desktop-min(120);
    }
  
    .secret__obj4 {
      top: asset.desktop-min(321);
      width: asset.desktop-min(174);
    }
    .secret__content {
      width: asset.desktop-min(504);
      margin-top: asset.desktop-min(100);
      margin-left: auto;
      margin-right: auto;
    }
    .secret__tabs__item {
      position: relative;
      width: asset.desktop-min(232);
      height: asset.desktop-min(60);
      font-size: asset.desktop-min(18);
      background-color: #fff;
      color: #009F3A;
      border: 3px solid #009F3A;
      border-radius: asset.desktop-min(43);

      .pkg {
        position: absolute;
        width: asset.desktop-min(73);
        height: asset.desktop-min(80);
        top: asset.desktop-max(-68);
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .secret__panels {
      position: relative;
      width: asset.desktop-min(504);
      height: asset.desktop-min(740);
      margin-top: asset.desktop-min(20);
      background-image: url(../img/secret_item_bg_dt.webp);
      background-repeat: no-repeat;
      background-size: 100% auto;
    }
    #secret__panel1 {
      padding-top: asset.desktop-min(140);
      text-align: center;
      .img {
        position: absolute;
        width: asset.desktop-min(292);
        height: asset.desktop-min(244);
        left: asset.desktop-max(-30);
        top: asset.desktop-max(-15);
      }
      .logo {
        position: absolute;
        width: asset.desktop-min(162);
        height: asset.desktop-min(70);
        right: asset.desktop-min(38);
        top: asset.desktop-min(38);
      }
      .title {
        width: asset.desktop-min(231);
        margin-left: auto;
        margin-right: auto;
        margin-bottom: asset.desktop-min(30);
      }
      .text {
        font-size: asset.desktop-min(16);
        line-height: asset.lh(28.8,16);
        color: #371606;
        + .text {
          margin-top: asset.desktop-min(15);
        }
      }
      .illust {
        width: asset.desktop-min(285);
        height: asset.desktop-min(206);
        margin-left: auto;
        margin-right: auto;
        margin-top: asset.desktop-min(27);
      }
    }
    .secret__bottom__illust {
      position: absolute;
      width: asset.desktop-min(1800);
      bottom: asset.desktop-min(34);
      left: 50%;
      transform: translateX(-50%);
      
    }
  }
}